<div class="wrapper">
    <h1>Server Error</h1>

    <p>
        The server encountered an error. Details are below.

        <br><br>

        {{#if error.stack}}
        <code>{{ error.stack }}</code>
        {{else}}
        <code>{{ error }}</code>
        {{/if}}
    </p>
</div>