<div class="wrapper">
    <h1>Drone Configuration</h1>

    <form action="/setpids" method="POST">
        <div class="container">
            <div class="container-cell">
                <h3>Pitch PID</h3>

                <div class="cell-row">
                    <label class="row-label" for="kP_pitch">P:</label>
                    <input class="row-value" name="kP_pitch" type="text" value="{{ pitchPid.p }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kI_pitch">I:</label>
                    <input class="row-value" name="kI_pitch" type="text" value="{{ pitchPid.i }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kD_pitch">D:</label>
                    <input class="row-value" name="kD_pitch" type="text" value="{{ pitchPid.d }}" />
                </div>
            </div>

            <div class="container-cell">
                <h3>Roll PID</h3>

                <div class="cell-row">
                    <label class="row-label" for="kP_roll">P:</label>
                    <input class="row-value" name="kP_roll" type="text" value="{{ rollPid.p }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kI_roll">I:</label>
                    <input class="row-value" name="kI_roll" type="text" value="{{ rollPid.i }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kD_roll">D:</label>
                    <input class="row-value" name="kD_roll" type="text" value="{{ rollPid.d }}" />
                </div>
            </div>

            <div class="container-cell">
                <h3>Yaw PID</h3>

                <div class="cell-row">
                    <label class="row-label" for="kP_yaw">P:</label>
                    <input class="row-value" name="kP_yaw" type="text" value="{{ yawPid.p }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kI_yaw">I:</label>
                    <input class="row-value" name="kI_yaw" type="text" value="{{ yawPid.i }}" />
                </div>
                <div class="cell-row">
                    <label class="row-label" for="kD_yaw">D:</label>
                    <input class="row-value" name="kD_yaw" type="text" value="{{ yawPid.d }}" />
                </div>
            </div>
        </div>

        <div class="button-wrapper">
            <input id="btnRefresh" type="button" value="Refresh" />
            <input type="submit" value="Save" />
        </div>
    </form>

    <div class="container">
        <div class="container-cell">
            <h3 id="txtError"></h3>
        </div>
    </div>

    <div class="container">
        <div class="container-cell">
            <h3>Orientation</h3>

            <div class="cell-row">
                <div class="row-label">Pitch:</div>
                <div class="row-value" id="txtOrientationPitch"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Roll:</div>
                <div class="row-value" id="txtOrientationRoll"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Heading:</div>
                <div class="row-value" id="txtOrientationHeading"></div>
            </div>
        </div>

        <div class="container-cell">
            <h3>Target Orientation</h3>

            <div class="cell-row">
                <div class="row-label">Pitch:</div>
                <div class="row-value" id="txtTargetOrientationPitch"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Roll:</div>
                <div class="row-value" id="txtTargetOrientationRoll"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Heading:</div>
                <div class="row-value" id="txtTargetOrientationHeading"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-cell">
            <h3>Pitch Pid</h3>

            <div class="cell-row">
                <div class="row-label">P:</div>
                <div class="row-value" id="txtPitchPidP"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">I:</div>
                <div class="row-value" id="txtPitchPidI"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">D:</div>
                <div class="row-value" id="txtPitchPidD"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Out:</div>
                <div class="row-value" id="txtPitchControl"></div>
            </div>
        </div>
        <div class="container-cell">
            <h3>Roll Pid</h3>

            <div class="cell-row">
                <div class="row-label">P:</div>
                <div class="row-value" id="txtRollPidP"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">I:</div>
                <div class="row-value" id="txtRollPidI"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">D:</div>
                <div class="row-value" id="txtRollPidD"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Out:</div>
                <div class="row-value" id="txtRollControl"></div>
            </div>
        </div>
        <div class="container-cell">
            <h3>Yaw Pid</h3>

            <div class="cell-row">
                <div class="row-label">P:</div>
                <div class="row-value" id="txtHeadingPidP"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">I:</div>
                <div class="row-value" id="txtHeadingPidI"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">D:</div>
                <div class="row-value" id="txtHeadingPidD"></div>
            </div>
            <div class="cell-row">
                <div class="row-label">Out:</div>
                <div class="row-value" id="txtHeadingControl"></div>
            </div>
        </div>
    </div>
</div>

<script>
    document.onreadystatechange = function (e) {
        const btnRefresh = document.getElementById("btnRefresh");
        const txtError = document.getElementById("txtError");
        const txtOrientationPitch = document.getElementById("txtOrientationPitch");
        const txtOrientationRoll = document.getElementById("txtOrientationRoll");
        const txtOrientationHeading = document.getElementById("txtOrientationHeading");
        const txtTargetOrientationPitch = document.getElementById("txtTargetOrientationPitch");
        const txtTargetOrientationRoll = document.getElementById("txtTargetOrientationRoll");
        const txtTargetOrientationHeading = document.getElementById("txtTargetOrientationHeading");
        const txtPitchPidP = document.getElementById("txtPitchPidP");
        const txtPitchPidI = document.getElementById("txtPitchPidI");
        const txtPitchPidD = document.getElementById("txtPitchPidD");
        const txtPitchControl = document.getElementById("txtPitchControl");
        const txtRollPidP = document.getElementById("txtRollPidP");
        const txtRollPidI = document.getElementById("txtRollPidI");
        const txtRollPidD = document.getElementById("txtRollPidD");
        const txtRollControl = document.getElementById("txtRollControl");
        const txtHeadingPidP = document.getElementById("txtHeadingPidP");
        const txtHeadingPidI = document.getElementById("txtHeadingPidI");
        const txtHeadingPidD = document.getElementById("txtHeadingPidD");
        const txtHeadingControl = document.getElementById("txtHeadingControl");
        const fetchDiagnosticsInterval = 100;

        btnRefresh.onclick = function (e) {
            e.preventDefault();
            e.stopPropagation();
            location.reload();

            return false;
        };

        function updateValues(diagnostics) {
            txtOrientationPitch.innerText = diagnostics.orientation.pitch.toFixed(3);
            txtOrientationRoll.innerText = diagnostics.orientation.roll.toFixed(3);
            txtOrientationHeading.innerText = diagnostics.orientation.heading.toFixed(3);
            txtTargetOrientationPitch.innerText = diagnostics.targetOrientation.pitch.toFixed(3);
            txtTargetOrientationRoll.innerText = diagnostics.targetOrientation.roll.toFixed(3);
            txtTargetOrientationHeading.innerText = diagnostics.targetOrientation.heading.toFixed(3);
            txtPitchPidP.innerText = diagnostics.pitchPid.p.toFixed(3);
            txtPitchPidI.innerText = diagnostics.pitchPid.i.toFixed(3);
            txtPitchPidD.innerText = diagnostics.pitchPid.d.toFixed(3);
            txtPitchControl.innerText = diagnostics.pitchControl.toFixed(3);
            txtRollPidP.innerText = diagnostics.rollPid.p.toFixed(3);
            txtRollPidI.innerText = diagnostics.rollPid.i.toFixed(3);
            txtRollPidD.innerText = diagnostics.rollPid.d.toFixed(3);
            txtRollControl.innerText = diagnostics.rollControl.toFixed(3);
            txtHeadingPidP.innerText = diagnostics.yawPid.p.toFixed(3);
            txtHeadingPidI.innerText = diagnostics.yawPid.i.toFixed(3);
            txtHeadingPidD.innerText = diagnostics.yawPid.d.toFixed(3);
            txtHeadingControl.innerText = diagnostics.yawControl.toFixed(3);
        }

        function getDiagnostics() {
            fetch("/diagnostics")
                .then(res => {
                    if (res.status < 200 || res.status >= 400)
                        throw Error(`HTTP error ${res.status}: ${res.statusText}`);

                    return res.json();
                })
                .then(data => {
                    updateValues(data);
                    setTimeout(getDiagnostics, fetchDiagnosticsInterval);
                })
                .catch(err => {
                    console.error("Error fetching diagnostics data:");
                    console.error(err);
                    txtError.innerText = "Error fetching diagnostics data. Reload the page to retry.";
                });
        }

        setTimeout(getDiagnostics, fetchDiagnosticsInterval);
    };
</script>