@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Zen Dots", sans-serif;
}

code {
    display: block;
    font-family: "Consolas", "Courier New", monospace;
    white-space: pre-wrap;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.wrapper {
    margin-left: 10vw;
    margin-right: 10vw;
}

.wrapper, form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container > .container-cell {
    min-width: 240px;
    display: inline-flex;
    flex-flow: column;
}

.container > .container-cell:not(:last-child) {
    margin-right: 32px;
}

.container > .container-cell > .cell-row {
    display: flex;
    margin-top: 4px;
}

.container > .container-cell > .cell-row .row-label {
    margin-right: 12px;
}

.container > .container-cell > .cell-row .row-value {
    margin-left: auto;
}

.button-wrapper {
    margin-top: 20px;
    align-self: flex-end;
}

#txtError {
    color: rgba(255, 64, 64, 1.0);
}